{{ partial "header" . }}

<button class="login-button" >Login now!</button>

<p><a href="/secret/access-denied/">Denied message</a></p>
<p><a href="/secret/">A secret page</a></p>
<p><a href="/secret/1/">An another secret page</a></p>
<p><a href="/pub/">A public page</a></p>
<p><a href="/pub/1/">An another public page</a></p>
<div class="hidden" id="gated-content">
<p><button class="logout-button" >Logout here!</button></p>
  <div>
    <label>
      Access token:
      <pre id="ipt-access-token"></pre>
    </label>
    <label>
      User profile:
      <pre id="ipt-user-profile"></pre>
    </label>
  <div>

{{ partial "footer" . }}
