{{ partial "header" . }}

<h4>You are denied access to your requested page</h4>

<p><a href="/pub/">To public page</a></p>
<p><a href="/pub/1/">To another public page</a></p>
<p><a href="/">Back to home page</a></p>
<div>
<p>
      You're seeing this content because you're <strong>not</strong> currently
      <strong>logged in</strong>.
</p>

<label>
      Access token:
      <pre id="ipt-access-token"></pre>
</label>

<label>
      User profile:
      <pre id="ipt-user-profile"></pre>
</label>
</div>
{{ partial "footer" . }}
