{{ partial "header" . }}

<h4>This is the page you have requested !</h4>


<p><a href="/secret/1">To another secret page</a></p>

<button class="logout-button" >Logout now!</button>
<p><a href="/pub/">To a public page !</a></p>
<div>
    <p>
      You're seeing this content because you're currently
      <strong>logged in</strong>.
    </p>
    <label>
      Access token:
      <pre id="ipt-access-token"></pre>
    </label>
    <label>
      User profile:
      <pre id="ipt-user-profile"></pre>
    </label>
</div>

{{ partial "footer" . }}